body {
	font-family:'Open Sans', sans-serif, Oswald;
	color:white;
	background-color:rgb(2, 147, 147);
	
}
#welcome {
	font-family:'Open Sans', sans-serif, Oswald;
	color:white;
	text-align: center;
	font-size: 90px;
	position:absolute;
	top:50%;
	left:37%;
	margin: 0%;
}


#homelist{
	list-style-type: none;
	text-align: center;
	margin:0;
	padding:10px;
	position:absolute;
	top:60%;
	left:30;
}
#homelist li { display: inline; }

#namehomelist{
	list-style-type: none;
	text-align: center;
	font-size: 30px;
	padding-bottom: 130px;
	padding-top: 1px;
	margin: 0;
}

#namehomelist li { display: inline; }
#namehomelist li a {
	color:white;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 20px;
}

.picsforhome {
	width:200px;
	height: 200px;
}
