body {
	font-family:'Open Sans', sans-serif, Oswald;
	color:white;
	background-color:rgb(2, 147, 147);
	
}
#welcome {
	font-family:'Open Sans', sans-serif, Oswald;
	color:white;
	text-align: center;
	font-size: 10vw;
	position:absolute;
	top:50%;
	text-align: center;
}


#homelist{
	list-style-type: none;
	text-align: center;
	margin:0;
	padding:10px;
	position:absolute;
	top:60%;
	left:25%;
}
#homelist li { display: inline; }

#namehomelist{
	list-style-type: none;
	text-align: center;
	font-size: 30px;
	padding-bottom: 130px;
	padding-top: 1px;
	margin: 0;
}
#projects {
	top:60%;
}
#aboutme {
	top:60%;
}
#otherstuff {
	top:60%;
}
#sayhi {
	top:60%;
}
#namehomelist li { display: inline; }
#namehomelist li a {
	color:white;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 20px;
}

.picsforhome {
	width:200px;
	height: 200px;
}
