body {
	font-family:'Open Sans', sans-serif, Oswald;
	color:white;
	background-color:rgb(2, 147, 147);
	
}
#welcomespan {
	width:100%;
	text-align: center;
	top:50%;
}
#welcome {
	font-family:'Open Sans', sans-serif, Oswald;
	color:white;
	font-size: 10vw;
}


.picsforhome{
	width:10vw;
	display: inline;
	text-align: center;
	margin:0;
	padding:10px;
	position:absolute;
	top:60%;
	left:25%;
}

#projects {
	top:60%;
	
}
#aboutme {
	top:60%;
}
#otherstuff {
	top:60%;
}
#sayhi {
	top:60%;
}
