body {
	background-color:  rgb(102, 212, 212);
	font-family:'Open Sans', sans-serif, Oswald;
	color:white;
}

#aboutme {
	font-size: 10vw;
}

p {
	font-size:50px;
}

#aboutmelistblock {
	text-align: center;
}

#aboutmelistblock ul {
	list-style-type: none;
	font-size: 40px;
}

#menulist {
	list-style-type: none;
	font-size: 50px;
	text-align: center;
}

#menulist li {
	display:inline;
	margin: 20px;
}

#menulist a {
	color:white;
	text-decoration: none;
}
#menulist a:hover {
	text-decoration: underline;
}