body {
	background-color: rgb(154, 233, 233);
	color:white;
	font-family:'Open Sans', sans-serif, Oswald;
	text-align: center;
	font-size:50px;
}

#sayhi {
	font-size: 10vw;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#menulist {
	list-style-type: none;
}
#menulist li {
	display:inline;
	margin:20px;
}
a {
	color:white;
}